name: Rust

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment to deploy"
        required: true
        type: choice
        default: dev
        options:
          - dev
          - prod

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        feature: ["actix", "axum"]
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Spin up Postgres for testing
        run: docker compose -f ./docker/docker-compose.yml up -d --wait
      - name: Setup slqx
        run: cargo install sqlx --version ${{vars.SQLX_VERSION}} --features ${{vars.SQLX_FEATURES}} --no-default-features --locked
      - name: Run tests
        working-directory: zero2prod
        run: cargo test --no-default-features --features ${{ matrix.feature }}
      - name: Tear down
        if: always()
        run: docker compose -f ./docker/docker-compose.yml down -v

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Enforce formatting
        working-directory: zero2prod
        run: cargo fmt --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Linting
        working-directory: zero2prod
        run: cargo clippy -- -D warnings

  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Generate code coverage
        working-directory: zero2prod
        run: |
          cargo tarpaulin --verbose --all-features
