name: Rust

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment to deploy"
        required: true
        type: choice
        default: dev
        options:
          - dev
          - prod

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    environment: "dev" # When using main as prod => ${{ inputs.env != '' && inputs.env || (github.ref_name == 'main' && 'prod' || 'dev') }}
    env:
      POSTGRES_USER: ${{vars.POSTGRES_USER}}
      POSTGRES_PASSWORD: ${{secrets.POSTGRES_PASSWORD}}
      POSTGRES_DB: ${{vars.POSTGRES_DB}}
      POSTGRES_PORT: ${{vars.POSTGRES_PORT}}
      DATABASE_URL: "postgres://${{vars.POSTGRES_USER}}:${{secrets.POSTGRES_PASSWORD}}@localhost:${{vars.POSTGRES_PORT}}/${{vars.POSTGRES_DB}}"
    strategy:
      matrix:
        feature: ["actix", "axum"]
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Spin up Postgres for testing
        working-directory: docker
        run: docker compose up -d --wait
      - uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: sqlx-cli@${{vars.SQLX_VERSION}}
          no-default-features: true
          features: ${{vars.SQLX_FEATURES}}
      - name: Run sqlx migrations
        working-directory: zero2prod
        run: sqlx migrate run
      - name: Run tests
        working-directory: zero2prod
        run: |
          echo ${{secrets.CONFIGURATION_YAML}} >> configuration.yaml
          cargo test --no-default-features --features ${{ matrix.feature }}
      - name: Tear down
        if: always()
        working-directory: docker
        run: docker compose down -v

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Enforce formatting
        working-directory: zero2prod
        run: cargo fmt --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Linting
        working-directory: zero2prod
        run: cargo clippy -- -D warnings

  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Generate code coverage
        working-directory: zero2prod
        run: |
          cargo tarpaulin --verbose --all-features
